*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F4F9FD;
  font-family: 'Montserrat', sans-serif;
}
.containerbaralta,
.containernavdue{
  width: 70%;
  height: 80px;
  margin: auto;
  position: relative;
  padding: 30px 0;
}
.containerbarbassa{
  height: 80px;
  margin: auto;
  display: block;
  background-color: #FFFFFF;
  position: relative;
}
nav, ul, li{
  display: inline-block;
}
ul, li, a{
  text-decoration: none;
  list-style: none;
  font-weight:600;
  font-size: 14px;
  color: #33475B;
}
i.up{
margin-right: 5px;
}
.english{
  vertical-align: middle;
}
i.angle{
  padding: 0 8px;
  font-size: 18px;
  vertical-align: middle;
}
i.upsearch{
  color: #00A4BF;
  margin-right: 25px;
}
.vertical{
  border-left: 2px solid #33475B;
  padding: 0 17px;
  margin-left: 8px;
}
.sxbar{
color: #33475B;
}
.dxbar{
  right: 0;
  position: absolute;
}
a.login{
  border: 2px groove #FE775A;
  padding: 9px;
  background-color: white;
  color: #FE775A;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
}
a.hubfree{
  border: 2px white;
  padding: 10px 10px;
  background-color: #FE775A;
  border-radius: 5px;
  color: white;
  margin-left: 20px;
  font-weight: 600;
  font-size: 12px;
  }
  hr{
    background-color: #33475B;
  }
  img.logo{
    display: inline-block;
    top: 25px;
    position: absolute;
  }
  nav.barlato{
    position: absolute;
    right: 0;
  }
  .barlato ul li a:not(.about){
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
  }
