*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F4F9FD;
  font-family: 'Montserrat', sans-serif;
}
.contenitore-free-hub::after,
.col-container::after,
.gradiente-container::after,
.riga-alta::after,
.riga-bassa::after,
.prima-sezione-footer::after{
 content: "";
 display: block;
 clear: both;
}
.containerbaralta,
.containernavdue{
  width: 70%;
  margin: auto;
  position: relative;
  padding: 30px 0;
}
.containerbarbassa{
  margin: auto;
  display: block;
  background-color: #FFFFFF;
  position: relative;
  padding-bottom: 15px;
}
nav,
ul:not(.listaincol),
li:not(.ultima-sequenza){
  display: inline-block;
}
li.sequenza{
  display: table;
}
ul, li, a{
  text-decoration: none;
  list-style: none;
  font-weight:600;
  font-size: 13px;
  color: #33475B;
}
i.up{
margin-right: 5px;
}
.english{
  vertical-align: middle;
}
i.angle{
  padding: 0 8px;
  font-size: 18px;
  vertical-align: middle;
}
i.upsearch{
  color: #00A4BF;
  margin-right: 25px;
}
.vertical{
  border-left: 2px solid #33475B;
  padding: 0 17px;
  margin-left: 8px;
}
.sxbar{
color: #33475B;
}
.dxbar{
  right: 0;
  position: absolute;
}
a.login{
  border: 2px groove #FE775A;
  padding: 9px;
  background-color: white;
  color: #FE775A;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  margin-right: 20px;
}
a.hubfree{
  border: 2px white;
  padding: 10px 10px;
  background-color: #FE775A;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  }
hr.diviso-col{

}
img.logo{
  display: inline-block;
  top: 25px;
  position: absolute;
}
nav.barlato{
  position: absolute;
  right: 0;
}
.barlato ul li a:not(.about){
  padding: 5px;
  font-size: 13px;
  font-weight: 600;
}
.containerprincipale{
  width: 100%;
  background-color: #FFF4EF;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: 105% 3%;
  height: 600px;
}
.sottocontainer{
  margin: auto;
  width: 70%;
  position: relative;
  }
.taglio-alto{
 padding: 80px 0 113px 0;
 }
h1{
  font-size: 41px;
  font-weight: 700;
  width: 55%;
  color: #33475B;
  margin-bottom: 20px;
}
.font-taglio{
  width: 50%;
  color: #33475B;
  font-size: 13px;
  font-weight: 600;
  line-height: 2;
  margin-bottom: 40px;
}
a.hubfree.taglio{
  margin-left: 0;
  padding: 20px 30px;
}
p.font-taglio.small{
  font-size: 10px;
  margin-top: 40px;
}
header::after{
content: "";
display: block;
background: #afebe4;
height: 80px;
width: 100%;
border-top: 3px solid #33475b;
border-bottom: 3px solid #33475b;
}
.main-contenitore,
 section.colonne{
  position: relative;
  background-color: #F4F9FD;
}
.contenitore-rubik{
  width: 70%;
  margin: auto;
  text-align: center;
  padding-bottom: 60px;
}
img.cubo{
  width: 25%;
  object-fit: cover;
  display: inline-block;
  padding: 20px 0;
}
h2{
  font-size: 28px;
  font-weight: 700;
  color: #33475B;
  margin-bottom: 40px;
}
.text-main{
  display: inline-block;
  text-align: center;
  width: 80%;
  color: #33475B;
  font-weight: 600;
  font-size: 13px;
  line-height: 2;
}
.contenitore-free-hub{
  width: 70%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 2px 2px 2px #E6ECF1;
  margin: auto;
  padding-bottom: 70px;
}
.learn-more{
  width: 33%;
  float: left;
  text-align: center;
}
img.libro{
  width: 40%;
  object-fit: cover;
  display: block;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 35px;
}
.hubfree.learn{
  padding: 20px 35px;
}
.hub-spot{
  width: 60%;
  float: left;
}
h3.titolo-hub{
  font-size: 19px;
  font-weight: 700;
  color: #33475B;
  margin-top: 65px;
}
p.free{
  width: 95%;
  font-size: 13px;
  font-weight: 600;
  color: #33475B;
  line-height: 1.8;
  margin: 30px 0 20px 0;
}
p.popular{
  color: #33475B;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}
div.list-col{
  margin: auto;
  text-align: center;
}
hr.feature{
  display: inline-block;
  width: 65%;
  vertical-align: middle;
  margin-left: 40px;
  height: 2.5px;
  color: #33475B;
}
.tasks li{
  margin-top: 25px;
  font-weight: 500;
}
i.full{
  color: #FE775A;
  padding: 0 15px;
}
i.about{
  padding-left: 0;
}
.col-container{
  width: 70%;
  margin: auto;
  padding: 50px 0;
}
.col{
  width: 30%;
  background-color: #ffffff;
  float: left;
  border-radius: 5px;
  box-shadow: 3px 2px 2px 2px #E6ECF1;
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
}
.col.ct{
  margin: 0 53px;
}
img.img-colonne{
    width: 26%;
    object-fit: contain;
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  img.img-colonne.valigia{
    width: 32%;
  }
  img.img-colonne.desk{
    width: 23%;
  }
  .titolo-col{
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    color: #33475B;
    margin: auto;
    margin: 25px 0;
  }
  p.p-col{
    text-align: center;
    padding: 0 20px 50px 20px;
    font-size: 13px;
    font-weight: 600;
    color: #33475B;
    line-height: 2
  }
  hr.diviso-col{
    width: 80%;
    margin: auto;
    background-color: #33475B;
  }
  /* cambia */
  p.popular.in-col{
    padding: 30px 0;
  }
  a.hubfree.learn.more{
    margin-top: 35px;
    display: inline-block;
    text-align: center;
  }
  section.gradiente{
    width: 100%;
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  }
  .gradiente-container{
    width: 70%;
    margin: auto;
    padding:35px 0 90px 0;
  }
  h4{
    text-align: center;
    font-size: 26px;
    padding: 0 10px;
    color: #ffffff;
  }
  p.grad-p{
    padding: 0 20px;
    color: #ffffff;
    margin: 30px 0;
    line-height: 1.5;
    font-size: 14px;
    text-align: center;
  }
  .riga-uno,
  .riga-due{
    width: 95%;
    height: 150px;
    margin: auto;
  }
  .box{
    width: 25%;
    height: 150px;
    float: left;
  }
  .box.uno{
    border-right: 1px solid white;
  }
  .box.tre,
  .box.uno{
    border-bottom: 1px solid white;
    text-align: center;
    color: #ffffff;
    padding: 35px 0;
  }
  .box.due{
    border-right: 1px solid white;
  }
  .box.quattro,
  .box.due{
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
  }
  img.griglia{
  object-fit: cover;
  display: block;
  margin: auto
  }
  p.number{
    font-weight: 700;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    line-height: 2;
    margin-right: 5px;
  }
  p.plus{
    display: inline;
    vertical-align: middle;
    font-weight: 500;
    font-size: 19px;
  }
  p.sotto-paragrafo{
    font-size: 10px;
  }
  .ultima-section{
    background-color: #FFFFFF;
  }
  .ultimo-container{
    width: 100%;
    margin: auto;
  }
  .riga-alta,
  .riga-bassa{
    width: 70%;
    margin: auto;
  }
  .customer,
  .testimonial{
    width: 30%;
    float: left;
  }
  .partner,
  .start{
    width: 70%;
    float: left;
  }
  .start{
    padding-top:25px;
  }
  .customer{
    padding-left: 7%;
    padding-top: 55px;
  }
  .partner{
    padding: 90px 80px;
    text-align: center;
  }
  p.in-over,
  p.over{
    line-height: 2;
    font-size: 13px;
  }
  p.in-over{
    display: inline;
  }
  p.over{
    display: block;
  }
  p.cento{
    font-weight: 600;
    font-size: 15px;
    display: inline;
    margin-left: 2px;
  }
  h3.titolo-over{
    font-size: 42px;
    font-weight: 700;
    color: #33475B;
    margin-bottom: 30px;
    padding-top: 15px;
  }
  img.loghi-partner{
    display: inline-block;
    width: calc(25% - 4px);
    height: 30px;
    vertical-align: middle;
    object-fit: contain;
    margin-bottom: 30px;
  }
  h3.titolo-over.down{
    font-size: 25px;
    font-weight: 800;
    width: 65%;
    padding: 0px 10px 25px 0;
  }
  p.font-taglio.down{
    width: 60%;
  }
  img.woman{
    width: 85%;
    object-fit: cover;
  }
  footer{
    background-color: #33475B;
  }
  .footer-container{
    width: 70%;
    margin: auto;
    padding-top: 20px;
  }
  .sub-colonne{
    width: 23%;
    float: left;
    margin-right: 20px;
    padding-top: 10px;
  }
  .pie-di-pagina{
    width: 100%;
    margin-top: 40px;
  }
  h5{
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    margin-bottom: 25px;
  }
  li.sequenza.credit-lista{
    line-height: 2.5;
    display: block;
  }
  a.link-footer,
  a.slang,
  a.link-end-up,
  a.link-end-down{
    color: #d1d6d9;
    font-weight: 500;
    font-size: 14px;
  }
  a.slang{
    margin-left: 15px;
  }
  a.footer-button.hubfree{
    border: 1px solid #33475B;;
    color: #33475B;
    background-color: #d1d6d9;
    margin: 0;
    display: block;
  }
  li.ultima-sequenza{
    margin: 20px 0;
  }
  .social-network,
  p.copyright{
    color: #d1d6d9;
    font-size: 14px;
    margin-right: 10px;
  }
  div.lingue-disponibili{
   text-align: center;
   padding-top: 70px;
  }
  hr.end-separatore{
    background-color: #d1d6d9;;
    margin-top: 10px;
  }
  div.container-nav-fine,
  div.link-fine{
    padding-top: 30px;
  }
  div.container-nav-fine{
    text-align: left;
    position: relative;
    padding-bottom: 30px;
  }
  img.logo-gray{
    left: 0;
    padding-bottom: 10px;
    margin-top: 5px;
    display: inline-block;
  }
  div.copy{
    position: relative;
  }
  p.copyright,
  a.link-end-up,
  a.link-end-down{
    bottom: 15px;
    display: block;
  }
  p.copyright{
    left: 0;
    bottom: 20px;
    position: absolute;
    padding-top: 10px;
    color: #ffffff;
  }
  a.link-end-up,
  a.link-end-down{
    position: absolute;
    padding-bottom: 40px;
  }
  a.link-end-down{
    right: 0;
  }
  a.link-end-up{
    right: 110px;
  }
